html {
    color: #030303;
    background-color: #ffffff;
    font-size: 62.5%;
    /* googleフォント */
    font-family: 'Crimson Text', serif;
    /* font-family: 'Josefin Sans', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif; */
}

/* ==============
PC用レイアウト
=============== */
@media screen and (min-width: 768px) {
    body {
        width: 100%;
        margin: 90px 0 0 0;
        box-sizing: border-box;
    }
    main {
        width: 100%;
    }

    /* ヘッダー */
    header {
        width: 90vw;
        margin: 0 auto;
        /* margin-bottom: 90px; */
    }
    #nav-pc {
        display: inline-block;
        font-size: 30px;
        margin-top: 65px;
        margin-bottom: 90px;
    }
    #nav-pc a {
        margin-right: 60px;
    }
    #home {
        font-family: 'Arial', sans-serif;
        font-size: 30px;
        padding-right: 10px;
        font-weight: 300;
    }
    #main-visual {
        width: 100%;
        height: 0px;
        padding-top: 46.8%; /* 背景画像の比率を保ったまま可変!! (画像の高さ / 画像の横幅) × 100 */
        background-image: url(img/mainvisual.jpg);
        background-repeat: no-repeat;
        background-size: cover;/* !!背景画像のサイズ指定!! */
        /* background-position: center;  */
    }

    /* コンテンツ全体幅 */
    #centered {
        width: 1880px;/* 仕様 */
        margin: 0 auto;
    }

    /* 各コンテンツ */
    .contents-group {
        display: table;/* テーブルタグのように使える */
        table-layout: fixed;
        width: 100%;
        /* 余白を入れる */
        border-collapse: separate;
        border-spacing: 80px 60px;
        justify-content: space-between;/* 要素を両端に！ */
    }

    /* テキストエリア */
    /* .contents-text > h2, .subtitle, contents-text > p {
        display: table-cell;
        table-layout: fixed;
        width: 100%;
    } */


    .contents-text {
        display: table-cell;
        /* table-cell指定した親
        要素にwidth指定してもサイズが可変にならない…！imgタグに直接width指定 */
        vertical-align: middle;
        margin: 0 auto;
        width: fit-content;
    	/* margin: 0 auto; これもだめか */
        /* padding-left: 50px;画像とテキストの間の余白、これしか上手くいかない?? */
        
    }
    /* #work > div > div {
        position: relative;
            top: 0;
            left: 0; */
    }
    .contents-text h2 {
        margin: 30px 0 20px 0;
        font-size: 4.7rem;
    }

    .subtitle {
        display: inline;
        font-size: 32px;

    }
    .contents-text p {
        width: 100%;
        font-size: 30px;
        margin-top: 60px;
        /* inline-size: 600px;書字方向に応じた要素ブロックの水平または垂直方向の寸法を定義 */
        overflow-wrap: normal;
        line-height: 50px
    }
    /* テキストたちにまとめて中央配置指定できるかテスト */
    /* .contents-text h2, .subtitle, .contents-text p {
        display: grid;
    
    } */


    /* 画像 */
    .contents-image {
        display: table-cell;
        /* table-cell指定した親要素にwidth指定してもサイズが可変にならない…！imgタグに直接width指定 */
        vertical-align: middle;
    }
    .contents-image img {
        max-width: 100%;
        min-width: 80%;
        width: 100%;
        height: auto;
    }
    /* Work　画像＋テキスト配置を逆転 */
    .contents-group:nth-child(even) {
        flex-direction: row-reverse;
    }


    /* フッター */
    footer {
        margin: 80px 80px 40px 80px;
    }
    footer > div {
        display: flex;
        justify-content: space-between;/* 要素を両端に！ */
    }
    #woodenjewelry {
        font-family: 'Arial', sans-serif;
        font-size: 30px;
        font-weight: 300;
    }
    #copyright {
        font-size: 30px;
        /* text-align: right;　この構造では右端指定効かなかった */
    }


/* ==============
スマホ用レイアウト
=============== */
@media screen and (max-width: 767px) {

    #main-visual {
        padding: initial;
    }

}